{% extends 'base.html.twig' %}

{% block title %}
  Court List
{% endblock %}
{% block courtActive %}
  active
{% endblock %}
{% block subBody %}
  <div class="container-fluid">
    <h1>Court List</h1>
    <a href="{{ path('app_admin_court_new') }}"><button type="button" class="btn btn-primary mb-3 bi bi-plus-lg"></button></a>
    <table class="table">
      <thead>
        <tr>
          <th>Court #</th>
          <th>Center</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for court in courts %}
          <tr>
            <td>{{ court.number }}</td>
            <td>{{ court.center.name }}</td>
            <td>{{ court.type }}</td>
            <td>
              <a href="{{ path('app_admin_court_show', { id: court.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
              <a href="{{ path('app_admin_court_edit', { id: court.id }) }}"><button type="button" class="btn btn-warning btn-sm bi bi-pencil-square"></button></a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="8">No records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
