{% extends 'base.html.twig' %}

{% block title %}
  Center List
{% endblock %}
{% block centerActive %}
  active
{% endblock %}
{% block subBody %}
  <div class="container-fluid">
    <h1>Center List</h1>
    <a href="{{ path('app_admin_center_new') }}"><button type="button" class="btn btn-primary mb-3 bi bi-plus-lg"></button></a>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Zone</th>
          <th># of Courts</th>
        </tr>
      </thead>
      <tbody>
        {% for center in centers %}
          <tr>
            <td>{{ center.name }}</td>
            <td>{{ center.address }}</td>
            <td>{{ center.zone.postCode }}</td>
            <td>{{ center.numberCourts }}</td>
            <td>
              <a href="{{ path('app_admin_center_show', { id: center.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
              <a href="{{ path('app_admin_center_edit', { id: center.id }) }}"><button type="button" class="btn btn-warning btn-sm bi bi-pencil-square"></button></a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="8">No records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
