{% extends 'base.html.twig' %}

{% block title %}
  Center
{% endblock %}

{% block body %}
  {% block subBody %}
    <div class="container-fluid">
      <h1>Center</h1>

      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <td>{{ center.name }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ center.address }}</td>
          </tr>
          <tr>
            <th>Zone</th>
            <td>{{ center.zone.postCode }}</td>
          </tr>
          <tr>
            <th># of Courts</th>
            <td>{{ center.numberCourts }}</td>
          </tr>
          <tr>
            <th>Courts</th>
            {% if center.courts %}
              <td class="p-0">
                <table class="table table-hover table-striped m-0">
                  <tbody>
                    <tr>
                      <td scope="col" class="col-1">Court Number</td>
                      <td scope="col" class="col-1">Type</td>
                      <td scope="col" class="col-1">Actions</td>
                    </tr>
                    {% for court in center.courts %}
                      <tr>
                        <td class="border-bottom-0">{{ court.number|e }}</td>
                        <td class="border-bottom-0">{{ court.type|e }}</td>
                        <td>
                          <a href="{{ path('app_admin_court_show', { id: court.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
                          <a href="{{ path('app_admin_court_edit', { id: court.id }) }}"><button type="button" class="btn btn-warning btn-sm bi bi-pencil-square"></button></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>

      <a href="{{ path('app_admin_center_edit', { id: center.id }) }}"><button type="button" class="btn btn-sm btn-warning mx-1 mb-2">Edit</button></a>

      {{ include('center/_delete_form.html.twig') }}

      <a href="{{ path('app_admin_center_list') }}"><button type="button" class="btn btn-sm btn-primary mx-1 mb-2 bi bi-arrow-left-square">Back to list</button></a>
    </div>
  {% endblock %}
{% endblock %}
