{% extends 'base.html.twig' %}

{% block title %}
  Country List
{% endblock %}
{% block countryActive %}
  active
{% endblock %}
{% block subBody %}
  <div class="container-fluid">
    <h1>Country List</h1>
    <a href="{{ path('app_admin_country_new') }}"><button type="button" class="btn btn-primary mb-3 bi bi-plus-lg"></button></a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 30%">Name</th>
          <th scope="col" style="width: 30%">Abbr.</th>
          <th scope="col" style="width: 30%">Continent</th>
          <th scope="col" style="width: 10%">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for country in countries %}
          <tr>
            <td>{{ country.name }}</td>
            <td>{{ country.abbr }}</td>
            <td>{{ country.continent }}</td>
            <td>
              <a href="{{ path('app_admin_country_show', { id: country.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
              <a href="{{ path('app_admin_country_edit', { id: country.id }) }}"><button type="button" class="btn btn-warning btn-sm bi bi-pencil-square"></button></a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="8">No records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
